---
apiVersion: kubeadm.k8s.io/v1beta4
caCertPath: /etc/kubernetes/pki/ca.crt
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ansible_default_ipv4.address}}
    bindPort: 6443
discovery:
  bootstrapToken:
    apiServerEndpoint: {{CONTROL_PLANE_IP}}:6443
    token: {{APITOKEN}}
    caCertHashes: ["sha256:{{SHA256_TOKEN}}"]
  tlsBootstrapToken: {{APITOKEN}}
kind: JoinConfiguration
nodeRegistration:
  criSocket: unix:///run/containerd/containerd.sock
  imagePullPolicy: IfNotPresent
  imagePullSerial: true
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
timeouts:
  controlPlaneComponentHealthCheck: 4m0s
  discovery: 5m0s
  etcdAPICall: 2m0s
  kubeletHealthCheck: 4m0s
  kubernetesAPICall: 1m0s
  tlsBootstrap: 5m0s
  upgradeManifests: 5m0s
{% if KUBEADM_Patch_init == "yes" %}patches:
  directory: /etc/kubernetes/kubeadm/patches/{% endif %}
