apiVersion: kubescheduler.config.k8s.io/v1
kind: KubeSchedulerConfiguration
# Example: if the cluster size is 500 nodes and the value of this flag is 30, then scheduler stops finding further feasible nodes once it finds 150 feasible ones. When the value is 0, default percentage (5%--50% based on the size of the cluster) of the nodes will be scored. It is overridden by profile level
percentageOfNodesToScore: 100
clientConnection:
  kubeconfig: "/etc/kubernetes/scheduler.conf"
  qps: 50
  burst: 100 
leaderElection:
  leaseDuration: 15s
  renewDeadline: 10s
