deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }} main restricted
deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }}-updates main restricted
deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }} universe
deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }}-updates universe
deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }} multiverse
deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }}-updates multiverse
deb {{ ubuntu_mirror }} {{ UBUNTU_VERSION }}-backports main restricted universe multiverse
deb {{ ubuntu_mirror_security }} {{ UBUNTU_VERSION }}-security main restricted
deb {{ ubuntu_mirror_security }} {{ UBUNTU_VERSION }}-security universe
deb {{ ubuntu_mirror_security }} {{ UBUNTU_VERSION }}-security multiverse
